body {
  font-family: "Lato", "Arial", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrapper {
  /*margin: 0 auto;*/
  width: 1020px;
}

header {
  display: grid;
  padding: 40px 12px 30px 37px;
  grid-template-areas: "logo nav";
  grid-template-columns: 572px 448px;
  background-color: #2d303a;
  border-bottom: 7px solid #323746;
}

header h1 {
  margin: 0;
  grid-area: logo;
  font-family: "Lato Bold", "Arial", sans-serif;
  color: #ffffff;
  font-weight: normal;
  font-size: 25px;
  text-transform: uppercase;
  text-align: left;
  line-height: 10px;
  letter-spacing: -1px;
}

.asterisk {
  color: #f06c64;
}

.main-nav {
  grid-area: nav;
}

.main-nav li a {
  color: #ffffff;
  text-decoration: none;
}

.main-nav li.active a {
  color: #f06c64;
}

.main-nav li {
  display: inline-block;
  text-transform: uppercase;
  font-family: "Lato Bold", "Arial", sans-serif;
  font-size: 12px;
  line-height: 6px;
}

.main-nav li:not(:last-child)::after {
  padding: 0px 11px;
  content: ".";
  color: #494e62;
  font-size: 12px;
}

.slider {
  position: relative;
  height: 448px;
  padding: 80px 40px 65px 40px;
  background-color: #f06c64;
  border-bottom: 7px solid #ea676b;
}

.slider .arrow {
  cursor: pointer;
  display: block;
  height: 27px;
  width: 16px;
  position: absolute;
  background: url(assets/arrow.png) 0 0 no-repeat;
  z-index: 10;
  top: 281px;
}

.slider .arrow.prev {
  left: 42px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.slider .arrow.next {
  right: 40px;
}

.phone-wrapper {
  position: relative;
}

.phone-wrapper .phone {
  position: absolute;
  height: 458px;
  width: 215px;
  z-index: 5;
}

.phone-wrapper .shadow {
  position: absolute;
  z-index: 1;
}

.phone-wrapper .screen {
  position: absolute;
  border: 3px solid #c7c8c7;
  z-index: 10;
}

.phone-wrapper.vertical .phone {
  top: -27px;
  left: 72px;
}

.phone-wrapper.vertical .shadow {
  top: -27px;
  left: 72px;
}

.phone-wrapper.vertical .screen {
  top: 35px;
  left: 83px;
  height: 333px;
  width: 188px;
  background: url(assets/screen-vertical.png);
  background-position: -14px 445px;
}

.phone-wrapper.horizonal .phone {
  top: -27px;
  left: 507px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.phone-wrapper.horizonal .shadow {
  top: -27px;
  left: 508px;
  height: 482px;
  -webkit-transform: rotate(90deg) scaleX(-1);
  -moz-transform: rotate(90deg) scaleX(-1);
  -ms-transform: rotate(90deg) scaleX(-1);
  -o-transform: rotate(90deg) scaleX(-1);
  transform: rotate(90deg) scaleX(-1);
}

.phone-wrapper.horizonal .screen {
  top: 105px;
  left: 442px;
  height: 188px;
  width: 333px;
  background: url(assets/screen-horizontal.png);
  background-position: -125px -119px;

}





