html {
  font-family: "Lato", "Arial", sans-serif;
}

h2 {
  margin: 0;

  font-family: "Lato Black", "Arial", sans-serif;
  font-style: normal;
  font-size: 30px;
  font-weight: 900;
  line-height: 18px;
  color: #666d89;
}

h5 {
  margin: 0;

  font-family: "Lato Black", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 900;
  line-height: 18px;
  color: #666d89;
}

p {
  margin: 0;

  font-family: "Lato Light", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-weight: 300;
  text-align: justify;
}

.wrapper {
  max-width: 1020px;
  margin: auto;

  box-sizing: border-box;
}

.layout-4-column {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  grid-gap: 15.5px 20px;
}

.layout-3-column {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-gap: 15.5px 18px;
}

.block-showed {
  display: block !important;
}

/*portfolio section*/

.portfolio {
  background-color: #2d303a;
}

.portfolio__wrapper {
  padding: 71px 40px 42.5px 40px;

  border-bottom: 6px solid #323746;
}

.portfolio__title {
  margin-bottom: 27px;

  letter-spacing: 0.25px;
}

.portfolio__description {
  margin-bottom: 9px;

  word-spacing: -2px;
}

.portfolio__tags {
  padding-left: 1px;
}

.portfolio__tags__tag_wd {
  padding: 4px 6px 5px 7px !important;
}

.portfolio__tags__tag_gd {
  padding: 4px 5px 5px 5px !important;
}

.portfolio__tags__tag_a {
  padding: 4px 6px 5px 7px !important;
}

.tags > .tag {
  padding: 4px 7px 5px 7px;
  margin-right: 6px;

  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  color: #767e9e;

  border: 0.5px solid #767e9e;
  border-radius: 5px;
  cursor: pointer;
}

.tags > .tag:hover,
.tags > .tag.tag_selected {
  color: #dedede;
  border: 0.5px solid #c5c5c5;
}

.portfolio__projects {
  padding: 20px 0;
}

.portfolio__projects > .project {
  display: none;
}

.project > .project__image.project__image_thin {
  height: 186.5px;
  width: 220px;
}

/*about us section*/

.about-us {
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.about-us__wrapper {
  padding: 71px 40px 62px 40px;
}

.about-us__title {
  margin-bottom: 26px;

  word-spacing: -0.7px;
}

.about-us__description {
  margin-bottom: 43px;

  word-spacing: -2.25px;
  letter-spacing: 0.25px;
}

.employee__image_wide {
  height: 300px;
  width: 300.5px;
}

.employees > .employee {
  display: none;
}

.employees > .employee:nth-child(3n) {
  padding-left: 4px;
}

.employee__content {
  padding-top: 13px;
}

.employee__name {
  max-height: 18px;
  overflow: hidden;
}

.employee__description {
  margin-top: 10px;
  margin-bottom: 21px;

  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  word-spacing: -2.25px;
}

.social-links > .social-link {
  padding-right: 1px;
  padding-left: 1px;
  display: inline-block;
  height: 33px;
  width: 33px;

  background-size: 100% 100%;
}

.social-link:hover {
  filter: invert(100%) sepia(100%) saturate(10%) hue-rotate(120deg) brightness(100%) contrast(100%);
}

.social-links > .social-link:last-child {
  margin-left: 2px;
}

.social-links__social-link_fb {
  background: url("assets/images/icons/facebook.svg") 0 0 no-repeat;
}

.social-links__social-link_g {
  background: url("assets/images/icons/google.svg") 1px 0 no-repeat;
}

.social-links__social-link_tw {
  background: url("assets/images/icons/twitter.svg") 1px 0 no-repeat;
}

.social-links__social-link_li {
  background: url("assets/images/icons/linkedin.svg") 0 0 no-repeat;
}
