body {
  font-family: "Lato", "Arial", sans-serif;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.wrapper {
  width: 1020px;
  margin: 0 auto;
}

/* header */

header {
  display: grid;
  padding: 40px 12px 28px 40px;
  grid-template-areas: "logo nav";
  grid-template-columns: 568px 448px;

  background-color: #2d303a;
  border-bottom: 7.4px solid #323746;
}

/* logo */

header h1 {
  grid-area: logo;
  margin: 0;

  font-family: "Lato Bold", "Arial", sans-serif;
  font-size: 25px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: left;
  line-height: 13px;
  letter-spacing: -0.7px;
}

.asterisk {
  color: #f06c64;
}

/* main-nav */

.main-nav {
  grid-area: nav;
}

.main-nav li a {
  color: #ffffff;
  text-decoration: none;
}

.main-nav li a:hover {
  color: #f06c64;
}

.main-nav li.active a {
  color: #f06c64;
}

.main-nav li {
  display: inline-block;
  margin-right: -4px;

  font-family: "Lato Bold", "Arial", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 6px;
}

.main-nav li:first-child {
  letter-spacing: 0;
}

.main-nav li:not(:last-child)::after {
  display: inline-block;
  padding: 3px 13px 10px 13px;
  content: ".";

  font-size: 12px;
  vertical-align: middle;
  color: #494e62;
}

/* slider */

.slider {
  position: relative;

  height: 448px;
  padding: 80px 40px 65px 40px;

  background-color: #f06c64;
  border-bottom: 7.5px solid #ea676b;
}

.slider .arrow {
  position: absolute;
  top: 281px;
  z-index: 10;

  display: block;
  height: 27px;
  width: 16px;

  background: url("assets/images/arrow.png") 0 0 no-repeat;

  cursor: pointer;
}

.slider .arrow.prev {
  left: 42px;

  transform: rotate(180deg);
}

.slider .arrow.next {
  right: 40px;
}

/* phone */

.phone-wrapper {
  position: relative;
}

.phone-wrapper .phone {
  position: absolute;
  z-index: 5;

  height: 458px;
  width: 214.7px;
}

.phone-wrapper .shadow {
  position: absolute;
  z-index: 1;
}

.phone-wrapper .screen {
  position: absolute;
  z-index: 10;

  border: 3px solid #c7c8c7;
}

.phone-wrapper.vertical .phone {
  top: -27px;
  left: 72px;
}

.phone-wrapper.vertical .shadow {
  top: -27px;
  left: 72px;
}

.phone-wrapper.vertical .screen {
  top: 35px;
  left: 83px;

  height: 333px;
  width: 188px;

  background: url("assets/images/screen-vertical.png");
  background-position: -14px 445px;
}

.phone-wrapper.horizonal .phone {
  top: -27.5px;
  left: 506.3px;

  height: 458.3px;
  width: 215px;

  transform: rotate(90deg);
}

.phone-wrapper.horizonal .shadow {
  top: -27.5px;
  left: 506.4px;

  height: 458.2px;
  width: 215.3px;

  transform: rotate(90deg) scaleX(-1);
}

.phone-wrapper.horizonal .screen {
  top: 105px;
  left: 442px;

  height: 188px;
  width: 333px;

  background: url("assets/images/screen-horizontal.png");
  background-position: -125px -119px;
}

/* services */

.services {
  padding: 70.3px 40px 28px 40px;

  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.services h3 {
  margin: 0;

  font-family: "Lato Black", "Arial", sans-serif;
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
}

.services article p {
  margin: 0;
  padding: 26px 0 44.5px 0;

  font-family: "Lato Light", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  letter-spacing: -0.25px;
  word-spacing: -2px;
  text-align: justify;
}

.services-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 320px);
  grid-template-rows: repeat(2, 123px);
}

.services-wrapper h5 {
  margin: 0;

  font-family: "Lato Black", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  word-spacing: -1px;
}

.service {
  padding-right: 20px;
  overflow: hidden;
}

.service .logo {
  float: left;
  margin-right: 19px;
  height: 61px;
  width: 61px;
}

.service .description {
  overflow: hidden;
}

.service .description p {
  margin: 0;
  padding: 10px 0;

  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  line-height: 21.5px;
  color: #767e9e;
  word-spacing: 0;
  word-break: break-word;
  text-align: justify;
}

.logo.pen {
  background: url("assets/images/icons/pen.svg") 1px 0 no-repeat;
  background-size: 60px 60px;
}

.logo.phone {
  background: url("assets/images/icons/phone.svg") 1px 0 no-repeat;
  background-size: 60px 60px;
}

.logo.bulb {
  background: url("assets/images/icons/bulb.svg") 0 0 no-repeat;
  background-size: 60px 59.4px;
}

.logo.bubble {
  background: url("assets/images/icons/bubble.svg") 0 0 no-repeat;
  background-size: 60px 59.4px;
}

.logo.heart {
  background: url("assets/images/icons/heart.svg") 0 0 no-repeat;
  background-size: 60px 60px;
}

.logo.star {
  background: url("assets/images/icons/star.svg") 0 0 no-repeat;
  background-size: 60px 60px;
}

.margin-right-18 {
  margin-right: 18px !important;
}

.word-spacing-0 {
  word-spacing: 0 !important;
}

.service .bubble + .description h5 {
  word-spacing: -1.4px;
}
